
h1{
    position: relative;
    text-align: center;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    position: sticky;
    top: 35px;
    z-index: 999;
}
h1 a{
    color: #fff;
    letter-spacing: 6px;
    text-decoration: none;
}
#back{
    background-color: rgba(37, 30, 24, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#menu{
    list-style: none; 
    display: flex;
    justify-content: center;
    z-index: 1;
}
#menu li a{
    color: rgb(80, 29, 29);
    padding: 0 20px; /* list 사이공백 */
    text-decoration: none;
    font-weight: lighter;
    font-size: 28px;
}
#menu li a:hover{
    color: #fff;
}
nav{
    position: relative;
    z-index: 1;
    top: -570px;
    clear: right;
}
.text-table{
    color: white;
    position: absolute;
    z-index: 1;
    width: 600px;
    font-size: 78px;
    padding: 120px;
    top: 370px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.text-table:hover{
    font-style: italic;
    transition-duration: .7s;
    transform: translate(-100px,0);
    opacity: .5;
}
footer p{
    color: #fff;
    font-weight: lighter;
    font-size: small;
    padding-bottom: 15px;
}
footer{
    position: relative;
    padding-top: 20px;
    bottom: -700px; 
    text-align: center;
    background-color: rgba(94, 84, 77, 0.4);
}
.login {
    padding: 50px;
    text-align: center;
    background: rgba(37, 30, 24, 0.3);
    position: absolute;
    width: 370px;
    height: 200px;
    z-index: 999;
}
.wrap{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1000;
    height: 300px;
    bottom: -800px;
}
#login_bin{
    margin-top: 30px;
}
#login_bin:active{
    background-color: rgb(249, 210, 158);
}
#login_members:active{
    background-color: rgb(249, 210, 158); /* 클릭시 색변환 */
}
#username{
    margin-top: 8px;
    margin-left: 50px;
}

#password{
    margin-top: 8px;
}
label{
    padding-right: 15px;
}
img{
    float: right;
    margin-right: 120px;
    z-index: 999;
    position: relative;
    margin-top: -90px;
}
body { 
    margin: 0;
}
.login p {
    font-size: 30px;
    margin-top: 20px;
}

#log{
    position: relative;
    z-index: 1000;
    transform: translateY(-230px);
}
