
#home{
    transform: translate(50px,-100px);
    z-index: 1;
}
.box{
    position: relative;
    margin: 0;
    padding: 0;  
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 55px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
#img1{
    position: absolute;
    left: 80px;
    box-shadow: 2px 10px 20px rgba(50, 20, 1, 1);
}
#img2{
    position: absolute;
    z-index: 3;
    top: -70px;
    left: 200px;
    box-shadow: 2px 10px 20px rgba(50, 20, 1, 1);
}
.wrap-img{
    position: absolute;
    bottom: 390px;
}
#my{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 263px;
    left: 485px;
    top: 10px;
    box-shadow: 12px 10px 20px rgba(50, 20, 1, 1);
    animation: fadein 2s;
    border: 11px solid rgb(250, 246, 244);
}
.box #main-p{
    font-family:'Nanum Myeongjo', serif;
    position: relative;
    font-size: 67px;
    left: 1100px;
    text-shadow: 2px 10px 20px rgba(116, 89, 7, 0.927);
    font-style: italic;
}
#sub-p{
    font-size: 40px;
    position: absolute;
    transform: translate(1045px, -30px);
    font-family:'Nanum Myeongjo', serif;
    text-shadow: 2px 10px 20px rgba(71, 54, 3, 0.927);
    font-style: italic;
    font-size: 32px;
}
ul li{
    list-style: none;
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    position: relative;
    width: 500px;
    top: 200px;
    left: 1045px;
    text-shadow: 2px 10px 20px rgb(73, 56, 6);
}
#icon{
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: space-evenly;
    transform: translate(255px, 30px);
    width: 700px;
}
#icon img{
    width: 50px;
}
.box{
   animation: fadein 2s;
}
@keyframes fadein{
    from{
       transform: translate(0,150px);
    }
    to{
        transform:  translate(0,0);
    }
}
#menu{
    list-style: none; 
    display: flex;
    justify-content: center;
}
#menu li a{
    color: rgb(80, 29, 29);
    padding: 0 20px; /* list 사이공백 */
    text-decoration: none;
    font-size: 28px;
}
#menu li a:hover{
    color: #fff;
}
nav{
    position: relative;
    z-index: 1;
    top: -370px;
    right: 900px;
}