#home{
    position: relative;
    transform: translate(50px,-50px);
    z-index: 1;
}
.box{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 55px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#img1{
    position: absolute;
    left: 80px;
    box-shadow: 2px 10px 20px rgba(50, 20, 1, 1);
}
#img2{
    position: absolute;
    z-index: 3;
    top: -80px;
    left: 200px;
    box-shadow: 2px 10px 20px rgba(50, 20, 1, 1);
}
.wrap-img{
    position: relative;
    bottom: 260px;
}
#my{
    position: relative;
    z-index: 5;
    width: 220px;
    height: 280px;
    left: 485px;
    top: 70px;
    box-shadow: 12px 10px 20px rgba(50, 20, 1, 1);
    animation: fadein 2s;
    border: 11px solid rgb(250, 246, 244);
}
.box #main-p{
    font-family:'Nanum Myeongjo', serif;
    position: relative;
    float: right;
    font-size: 67px;
    right: 450px;
    text-shadow: 2px 10px 20px rgba(116, 89, 7, 0.927);
    font-style: italic;
}
#sub-p{
font-size: 40px;
position: absolute;
transform: translate(-150px, 250px);
}
ul li{
    list-style: none;
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    position: relative;
    float: right;
    width: 500px;
    top: 500px;
    left: 30px;
    text-shadow: 2px 10px 20px rgb(73, 56, 6);
}
#icon{
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: space-evenly;
    transform: translate(255px, 160px);
    width: 700px;
}
#icon img{
    width: 50px;
}
h1:hover{
 visibility: visible;
}
.box{
   animation: fadein 2s;
}
@keyframes fadein{
    from{
       transform: translate(0,150px);
    }
    to{
        transform:  translate(0,0);
    }
}
#sub-p {
    font-family:'Nanum Myeongjo', serif;
    text-shadow: 2px 10px 20px rgba(71, 54, 3, 0.927);
    font-style: italic;
    padding-top: 40px;
    font-size: 32px;
    transform: translate(1045px, 205px);
    z-index: 999999;
}